@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary: #c85300;
  --color-secondary: #1f3051;
  --color-neutral: #64748b;
  --color-alert: #ba1a1a;

  --font-sans: 'Inter', sans-serif;
}
